*{
	font-family: 'Nunito', sans-serif;

}
body{
	background:   #1c2833 ;
}
#sobrePoner {
	z-index: 40000;
	width: 100%;
	height: 100vh;
	padding: 10px;
	backdrop-filter: blur(30px);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background:transparent;
}
/* ///////////////////// container key */
#closeContainerKey{
	position: sticky;
	left:-5%;
	margin-left:-15%;
	top: 50%;
	transform: translate(-5%,-50%);
	background-color:royalblue;
	border-radius: 15px;
	border: none;
	cursor: pointer;
}
#containerKeys{
	scroll-behavior: smooth;
	overflow: auto;
	overflow-x: hidden;
	position: absolute;
	right: 1%;
	top: 50%;
	transform: translate(1%,-50%);
	padding: 10px;
	padding-left: 60px;
	background-color:#1c2833;
	width: 60%;
	height: auto;
	max-height: 100%;
	z-index: 40000;
	border-radius: 15px;
	animation: animationPushContainer 0.3s ease-in-out;
}
@keyframes animationPushContainer {
	to {
		transform:translate(0px,-50%);
		overflow: hidden;
	}
	from {
		transform:translate(1000px,-50%);
	}
}
.containerOfButton{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 1%;
	right: 1%;
	width: auto;
}
.buttons {
	transition: 0.4s;
	background: black;
	color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
	font-size: 20px!important;
}

.buttons:hover{
	background: royalblue;
	color: white; 
}
#buttonMenuKey {
	z-index: 30000;

	position: absolute;
	right: 3%;
	background-color: royalblue;
	border: none;
	padding: 10px;
	border-radius: 10px;
	top: 3%;
	cursor: pointer;
}
#noKeys {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
#noneKeyGif{
	width: 50%;
}
/* /////////////////container save key//////////////////// */
#containerSave { z-index: 50000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:auto;
	height:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.containerInputsSave {
	border-radius: 15px;

	background-color: white;
	margin-bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.containerInputsSave input {
	margin: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgb(0,0,0, 0.2);
	padding: 10px;
}
#saveConfirm{
	background-color: royalblue;

}
#saveCancel{
	background-color: white;
	color: black;
	opacity: 0.9;
}
#saveCancel:hover{
	opacity: 1;
}
#saveConfirm:hover{
	background-color: black;
	opacity: 1;
}
.buttonsOfPromtsSave {
	opacity: 0.9;
	margin: 5px;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border: none;
	color: white;
	border-radius: 10px;
}
/* ///////////////////////////////push container///////////////////////////////////// */
#pushContainer{
	background-color: #1c2833;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	height: auto;
}
.push {
	transition: 0.2s;
	cursor: pointer;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	color: white;
	margin: 10px;
	width: auto;
	box-shadow: 0 0 5px rgb(0,0,0, 0.4);
	max-width: 80%;
	border: solid 3px transparent;
}
.push:hover{
	border: solid 3px royalblue;
	box-shadow: 0 0 15px transparent;

}
.push label {color: grey; 
	cursor: pointer;
}
.push p {
	scrollbar-width: thin;
	max-width: 30%;
  overflow:auto;
	cursor: pointer;
	background-color: #1c1c1c;
    padding:10px;
    border-radius: 10px;
	margin: 10px;
}
/* //////////////////////////////////////////////////////// */
nav{
	z-index: 2000;
	position: fixed;
	background:ghostwhite;
	color:black;
	padding: 10px;
	width: 100%;
	padding-left: 40px;
	text-align: left;
	border-bottom: solid 0.1px grey;
}
#pAlert{
	margin-top: 100px;
}
.contentOne{
	transition: 0.2s;
	text-align: left;
	background: white;
	  width: 20%;
	  position: absolute;
	  left: 10%;
	  top: 20%;
	  height: 300px;
	  padding: 20px;
	  border-radius: 10px;
}
.contentOne:hover{
	top: 18%;
}
.p {
	position: absolute;
	left: 10px;
	bottom: 20px;
}
.contentTwo{
	background: ghostwhite;
	height: 300px;
}
.contentTree{
	transition: 0.2s;
	background: white;
	position: absolute;
	width: 25%;
	top: 20%;
	left: 40%;
	border-radius: 10px;
	padding: 20px;
	height: 300px;
}
.contentTree:hover{
	top: 18%;
}
.pOneClass{
font-size: 15px;
text-align: left;
}
#inputTxt{
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 5px;
	border-radius: 9px;
	border: none;
	background: black;
	color: white;
	transform: translate(-50%,-50%);
}
.button{
	transition: 0.4s;
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: black;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
} 
.button:hover{
	background:  #4646c1 ;
}
.contentFor{
	position: relative;
	padding: 50px;
	background: #1c1c1c;
	height: 100vh;
	overflow-x: hidden;
}
.config{
	z-index: 1000;
	position: absolute;
	border-radius: 15px;
	padding: 20px;
	color: black;
	background:  white ;
	  width: 20%;
	  text-align: left;
}
.buttonGuardar{
background:black;
color: white;
position: absolute;
right: 20px;
bottom: 10px;
border: none;
border-radius: 5px;
padding: 5px;
cursor: pointer;
}
.buttonGuardar:hover{
	  background: #4646c1 ;
}
.contentGenratorValue{
	position: absolute;
	left: 50%;
color: white;
	width: 40%;
	height: 500px;
	border-radius: 15px;
	padding: 4px;

}
#itemPassword{
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 25px;
    width: 100%;
}
#pCopiar{
	font-size: 12px; 
	color: grey;
	position: absolute;
	right: 10%;
	bottom: 5%;
}
.pNew{
	display: inline-block;
}
.pNew1{
	display: inline-block;
}.pNew2{
	display: inline-block;
}

@media only screen and (max-width:1032px){
	.contentOne{
	transition: 0.2s;
	text-align: left;
	background: white;
	  width: 30%;
	  position: absolute;
	  left: 10%;
	  top: 20%;
	  height: 300px;
	  padding: 20px;
	  border-radius: 10px;
}
.contentTree{
	transition: 0.2s;
	background: white;
	position: absolute;
	width: 30%;
	top: 20%;
	left: 50%;
	border-radius: 10px;
	padding: 20px;
	height: 300px;
}
	.config{
	z-index: 1000;
	position: absolute;
	border-radius: 15px;
	padding: 20px;
	color: black;
	background:  white ;
	  width: auto;
	  text-align: left;
}
.contentGenratorValue{
	border: none;
	position: absolute;
	left: 50%;
	background: transparent  ;
	width: 40%;
	height: 500px;
	border-radius: 15px;
	padding: 4px;
color: white;


}
.pAlert{
	padding: 0;
	margin: 0!important;
}
#itemPassword{
	border-radius: 10px;
	padding: 20px;
	width:100%;
	margin-right: 100px;
	background:transparent;
    font-size: 25px;
}
#resultado b {
	display: inline-block;

}
#resultado{
	display: inline-block;
   width: auto;
   cursor: pointer;
}

}
@media only screen and (max-width:686px){
	nav{
	background:ghostwhite;
	color:black;
	padding-left: 30px;
	text-align: left;
}
	.button{
	transition: 0.4s;
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%,-50%);
	background: black;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
} 
	  .contentOne{
	transition: 0.2s;
	text-align: left;
	background: white;
	  width: 40%;
	  position: absolute;
	  left: 10%;
	  top: 20%;
	  height: 300px;
	  padding: 20px;
	  border-radius: 10px;
}
label{
	font-size: 20px;
}
input{
	width: 50px;
}
.contentTree{
	transition: 0.2s;
	background: white;
	position: absolute;
	width: 40%;
	top: 20%;
	left: 55%;
	border-radius: 10px;
	padding: 20px;
	height: 300px;
}
	.config{
	z-index: 1000;
	position: absolute;
	border-radius: 15px;
	padding: 20px;
	color: white;
	left: 50%;
	background:  transparent ;
	  width: 100%;
	  text-align: left;
	  transform: translate(-50%,-10%);
}
.contentGenratorValue{

	z-index: 1000;
	position: absolute;
	border-radius: 15px;
	padding: 30px;
	color: white;
	left: 50%;
	height: 200px;
	background:  transparent ;
	  width: 100%;
	  text-align: center;
	  transform: translate(-50%,160%);

}
.pAlert{
	padding: 0;
	margin: 0!important;
}
#itemPassword{
	border-radius: 10px;
	padding: 20px;
	width:100%;
	margin-right: 100px;
	background:transparent;
	cursor: pointer;

}
#resultado b {
	display: inline-block;
}
#resultado{
	display: inline-block;
}
.containerOfButton{
    bottom: -40%;

}
.contentFor{
	padding: 50px;
	height: 100vh;
}
}